

   <div id="about_modal" class="ui basic modal">
     <div class="ui raised segment">
         <h2 class="orange"><strong>About Us</strong></h2>
         <p class="inner_paragraph">We are a team of designers with the motive of making your everyday life more convenient. As the world runs in numbers, we are focusing on people from different corners of the world to covert the units from different systems used in different parts of the world and get accurate results. We believe in respecting and understanding all traditions and laws of our world.
            You can reach us at ???
         </p>
     </div>  
   </div>       