

<div id="contact_modal" class="ui basic modal">
     <div class="ui raised segment">
         <h2 class="orange"><strong>Contact Us</strong></h2>
         <p class="inner_paragraph">Thank you for visiting http://www.conversioncentre.com/
            If you have any question or requests concerning our website, if you have any comments or suggestions that can improve our website, if you meet any bugs during your visit, kindly report your issue to us. Our team will assist you to solve your problem. Please contact us on:???
         </p>
     </div>  
   </div>       