<div id='footer'>
    <div id="footer_container">
      <section id="three_section_container">
        <section id="about_section" class='spacer'>
         <h3>About Us</h3>    
         <section class="link_list spacer">  
          <a id='about_link' class="footerLink">About Us</a>
          <a id='contact_link' class="footerLink">Contact Us</a>
          <a id='policy_link' class="footerLink">Privacy Policy</a>
          </section>
        </section>
        <section id="services_section" class='spacer'>
          <h3>Our Services</h3>
          <section class="link_list spacer">
            <a href="#weight_header" class="footerLink scroll_link">Weight & Mass</a>
            <a href="#length_header" class="footerLink scroll_link">Length & Distance</a>
            <a href="#temp_header" class="footerLink scroll_link">Temperature</a>
            <a href="#pdf_header" class="footerLink scroll_link">PDF Converter</a>
          </section>
        </section>
        <section id="social_section" class='spacer'>
          <h3>Follow Us</h3>
          <section id='social_media' class='spacer'>
          <a href='#' class="footerLink"><i class="facebook icon"></i></a>
          <a href='#' class="footerLink"><i class="twitter icon"></i></a>
          <a href='#' class="footerLink"><i class="youtube icon"></i></a>
          </section>
         </section>
        </section>
        <p><weak>Copyright:<br />
                    © 2018 ZTE Corporation. All rights reserved.<br />
                    This document contains proprietary information of http://www.conversioncentre.com/ and it cannot be disclosed or produced without our prior permission.
              </weak></p>
      </div>
    </div>
  </div>
</div>
  </div>
  <% include about %>
  <% include contact %>
  <% include policy %>
<script src="/scripts/jquery 3.3.1.js"></script>
<script src="/scripts/semantic.min.js"></script>
<script src="/dist/bundle.js"></script>
</body>
</html>
