<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="unit converter, unit conversion, online conversion, unit converters">
  <meta name="description" content="Quick, free, online unit converter that converts common units of measurement, along with 77 other converters covering an assortment of units. The site also includes a predictive tool that suggests possible conversions based on input, allowing for easier navigation while learning more about various unit systems.">	
  <title>Conversion Center</title>
  <link rel="stylesheet" type="text/css" href="/styles/semantic.min.css">
  <!--<link rel="stylesheet" type="text/css" href="/styles/normalize.css">-->
  <link rel="stylesheet" type="text/css" href="/styles/myStyle.css">
  <link rel="stylesheet" type="text/css" href="/styles/animate.css">
 </head>
 <body>