
 <div id="policy_modal" class="ui basic modal">
     <div class="ui raised segment">
         <h2 class="orange"><strong>Privacy Policy</strong></h2>
         <p class="inner_paragraph"><strong>Modifications to the website:</strong> Our website was created to be a universal assistant for your conversion needs. The modifications, changes, upgrades and updates on the website http://www.conversioncentre.com/ can be done by the webmaster, without prior notifications to users, including and not limited to, content, subcategories features and terms and conditions of use.
                                   <br />
                                   <br />
                                    <strong>User information:</strong> You can access our website home page and browse all its categories without disclosing your personal data. In the case of providing certain information, especially in the case of document conversion, you agree and acknowledge that you are solely responsible for the accuracy and content of information provided by you.
                                    Make sure that the website keeps your information as confidential and private (including and not limited to your location, internet addresses and files).
                                    When contacting the webmaster for question and/or reporting bugs, you should avoid any kind of violation (including any violation relating to third party rights).
                                   <br />
                                   <br />
                                    <strong>Advertisers:  http:// www.conversioncentre.com / displays ads, which are third party advertisement. These ads may contain cookies. So we may require accepting cookies to allow your access to the website.</strong>
                                   <br />
                                   <br />
                                    If you have any questions or concerns, feel free to contact us.
                                   <br />
                                   <br /> 
                                    Your feedback is very necessary for us. Thank you.
         </p>
     </div>  
   </div>       