
        <div id="excel_pdf_segment" class="ui raised segment hide pdf_segment">
          <div id='pdf_convert_form' class="ui form">
            <div class="fields">
             <div class="twelve wide field">
               <input type="file" placeholder="Select file" id="excel_pdf_input" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                      text/plain, application/pdf, image/*">
             </div>
             <div class="four wide field">
               <input type="submit" id="excel_pdf_submit_btn" placeholder='Convert File' class="fluid ui button" />
             </div>
            </div>
          </div>  
        </div>