
        <div id="merge_pdf_segment" class="ui raised segment hide">
          <form class="ui form" >
            <div id="merge_pdf_input_fields">
             <div class="sixteen wide field">
               <input type="file" class="merge_pdf_inputs" placeholder="Select file" accept="application/pdf">
             </div>
            </div>
           <div class="fields">    
            <div class="twelve wide field">
               <button type="button" id="add_merge_input_btn" class="fluid ui grey basic button"><i class="plus icon"></i></button>
            </div>
            <div class="four wide field">
               <input type="submit" id="merge_pdf_submit_btn" placeholder='Convert File' class="fluid ui button" />
            </div>
           </div>     
          </form>  
        </div>