     <!-- capaciy converter part -->
     
     <h1 id='capacity_header' class="ui header orange">Capacity & Volume Converter</h1>
     <p class='more'>Volume is defined as the measurement of a quantity of space that a substance i.e. solid, liquid or gas occupies, or that is enclosed by a closed surface within a container. Similarly, the maximum quantity of a substance (solid, liquid or gas) that a container can hold is known as capacity.<br />
     Capacity & Volume subcategory in <strong>Conversion Centre</strong> is intended for the volume and capacity conversion from/to all the international units, when clicking on Capacity & Volume the main page displays the most important units globally known, such as liter, cubic kilometer (km³), with the same principle for the other conversion subcategories. You have to enter your value in the case manually or by browsing the two small arrows, by entering any number the results will appear instantly inside all the cases on this page. More other units, you can browse them on the left part under Capacity and Volume, most of them are relating to some specific countries.</p>
     <a id='capacity_btn' class="ui large button">Try it now</a>
    <div id='capacity_segment' class='accordion_segment hide'> 
    <div class="ui styled accordion">
      <div class="title orange">
       <i class="dropdown icon"></i>
         Metric
       </div>
       <div class="content">
        <% include capacityConverters/metric%>
       </div>
       
       <div class="title orange">
          <i class="dropdown icon"></i>
         U.S.Liquid Measure
       </div>
       <div class="content">
        <% include capacityConverters/liquid%>
       </div>
       
        <div class="title orange">
         <i class="dropdown icon"></i>
          U.S.Dry Measure
        </div>
        <div class="content">
        <% include capacityConverters/dry%>
        </div>
        
        <div class="title orange">
        <i class="dropdown icon"></i>
          British and U.S. derivatives of length units
        </div>
        <div class="content">
        <% include capacityConverters/british%>
        </div>
        
        <div class="title orange">
        <i class="dropdown icon"></i>
          English wine cask units
        </div>
        <div class="content">
        <% include capacityConverters/wine%>
        </div>
        
        <div class="title orange">
        <i class="dropdown icon"></i>
          Cooking (U.S.)
        </div>
        <div class="content">
        <% include capacityConverters/cooking_us%>
        </div>
        
        <div class="title orange">
        <i class="dropdown icon"></i>
          Cooking (International)
        </div>
        <div class="content">
        <% include capacityConverters/cooking_int%>
        </div>
        
        <div class="title orange">
        <i class="dropdown icon"></i>
          Cooking (Australian)
        </div>
        <div class="content">
        <% include capacityConverters/cooking_aus%>
        </div>
        
        <div class="title orange">
        <i class="dropdown icon"></i>
          Astronomical
        </div>
        <div class="content">
        <% include capacityConverters/astronomical%>
        </div>
        
        <div class="title orange">
        <i class="dropdown icon"></i>
          Ship tonnage measurements
        </div>
        <div class="content">
        <% include capacityConverters/ship_tonnage%>
        </div>
        
        <div class="title orange">
        <i class="dropdown icon"></i>
          Japanese
        </div>
        <div class="content">
        <% include capacityConverters/japanese%>
        </div>
        
        <div class="title orange">
        <i class="dropdown icon"></i>
          Chinese units of 1930
        </div>
        <div class="content">
        <% include capacityConverters/chinese_30%>
        </div>
        
        <div class="title orange">
        <i class="dropdown icon"></i>
          Chinese units of 1915
        </div>
        <div class="content">
        <% include capacityConverters/chinese_15%>
        </div>
        
        <div class="title orange">
        <i class="dropdown icon"></i>
          Thai units
        </div>
        <div class="content">
        <% include capacityConverters/thai%>
        </div>
        
      </div>
     </div>
