            <!-- weight converter part -->
     
     <h1 id='hs_header' class="ui header orange">HS CODES</h1>
     <p class='more'>The Harmonized System (HS) also, the Harmonized Commodity Description and Coding System is defined as a common commonplace worldwide for describing the kind of goods that have been shipped. Each artifact that enters or crosses most international borders must be declared to customs exploitation this code. Thus, the code helps to standardize and determine cargo in the same manner.
     <br />HS code subcategory is a browser or research engine which allows you to find several HS codes. And by choosing conversioncentre.com, you are required to make a selection under 04 sections, to find the HS codes that you are looking for in this subcategory. Make a selection under Section (Category), Chapter (Subcategory), Headings and Consignment Description. Then, click on “search” and with the correct information, you will find the HS codes instantly.</p>
     <a id='hs_btn' class="ui large button">Try it now</a>
     
     <div id='hs_segment' class="ui raised segment hide">
         <iframe src="https://mirsal2new.dubaitrade.ae/eMirsal/hsCodeSearch.do" width="100%" height="500px" scrolling="auto" frameborder="0"></iframe>
     </div>     