      <!-- length converter part -->
      
      <h1 id='length_header' class="ui header orange">Length & Distance Converter</h1>
      <p class='more'>Length is defined as the space between two things, points, and lines or can be defined as the longest or most extended dimension of anything as measured from end to end. Likewise, distance is a measurement to determine the space of how far apart objects are.
      <br />
      Length Distance category in <strong>Conversion Centre</strong> is an online instant calculator for lengths, when you input the value in the corresponding case you will see below all the relating values in different units. The units we provide in Metric are: Kilometer (km); meter (m), decimeter (dm), centimeter (cm), millimeter (mm), micrometer (micron), nanometer (nm), and angstrom. The US Customary units are: league, mile (mi), land, bolt, foot (ft), feet & inches, span, hand. The letters between brackets are the standard abbreviation. These are the most important and used units all over the world, but we provide other series of units you can see them and the category Length Distance. We ensure accuracy in the results.</p>
      <a id='length_btn' class="ui large button">Try it now</a>
      
      <div id='length_segment' class="ui raised segments hide">
       <div class="ui segment">
         <h2 class="orange"><strong>Metric</strong></h2>
         <hr />
         <div class="ui form length_form">
          <div class="three fields">
           <div class="field">
              <label>Kilometer (km)</label>
              <input class='length_input' id='kilometer' type="number" placeholder="Kilometer (km)">
           </div>
           <div class="field">
              <label>Meter (m)</label>
              <input class='length_input' id='meter' type="number" placeholder="Meter (m)">
           </div>
           <div class="field">
              <label>Decimeter (dm)</label>
              <input class='length_input' id='decimeter' type="number" placeholder="Decimeter (dm)">
           </div>
          </div>
           <div class="three fields">
           <div class="field">
              <label>Centimeter (cm)</label>
              <input class='length_input' id='centimeter' type="number" placeholder="Centimeter (cm)">
           </div>
           <div class="field">
              <label>Millimeter (mm)</label>
              <input class='length_input' id='millimeter' type="number" placeholder="Millimeter (mm)">
           </div>
           <div class="field">
              <label>Micrometer (micron)</label>
              <input class='length_input' id='micrometer' type="number" placeholder="Micrometer (micron)">
           </div>
          </div>
           <div class="two fields">
           <div class="field">
              <label>Nanometer (nm)</label>
              <input class='length_input' id='Nanometer' type="number" placeholder="Nanometer (nm)">
           </div>
           <div class="field">
              <label>Angstrom</label>
              <input class='length_input' id='angstrom' type="number" placeholder="Angstrom">
           </div>
          </div>
         </div>
       </div>
       <div class="ui segment">
         <h2 class="orange"><strong>The American System of Measures (US Customary Units)</strong></h2>
         <p class="inner_paragraph more">American weight and measures are based on units used in Britain prior to 1824, when imperial system was officially established. The US law of 1866 set a relationship with the metric system by defining the meter as equal to 39.37 in. Since then all measures were redefined in terms of metric units with the last minimal adjustment in 1959. However the old standard of 1ft was retained with the name US survey foot.</p>
         <hr />
         <div class="ui form length_form">
          <div class="three fields">
           <div class="field">
              <label>League</label>
              <input class='length_input' id='league' type="number" placeholder="League">
           </div>
           <div class="field">
              <label>Mile (mi)</label>
              <input class='length_input' id='mile' type="number" placeholder="Mile (mi)">
           </div>
           <div class="field">
              <label>Land</label>
              <input class='length_input' id='land' type="number" placeholder="Land">
           </div>
          </div>
           <div class="three fields">
           <div class="field">
              <label>Bolt</label>
              <input class='length_input' id='bolt' type="number" placeholder="Bolt">
           </div>
           <div class="field">
              <label>Foot (ft)</label>
              <input class='length_input' id='foot' type="number" placeholder="Foot (ft)">
           </div>
           <div class="field">
              <label>Feet & Inches(x'y")</label>
              <input class='length_input' id='feet' type="number" placeholder="Feet & Inches(x'y)">
           </div>
          </div>
           <div class="two fields">
           <div class="field">
              <label>Span</label>
              <input class='length_input' id='span' type="number" placeholder="Span">
           </div>
           <div class="field">
              <label>Hand</label>
              <input class='length_input' id='hand' type="number" placeholder="Hand">
           </div>
          </div>
         </div>
       </div>
       <div class="ui segment">
         <h2 class="orange"><strong>British (Imperial) Measure</strong></h2>
         <p class="inner_paragraph more">The first English official measurement standards were defined in 15th century. British system of units, known as imperial units, was established in 1824. Later in 1963 the standards were redefined in terms of metre stantard maintained in Paris. From 1995 the UK adopted metric units for general use. The only imperial measures of length that can be officially used now are miles, yards, feet and inches for road traffic signs.</p>
         <hr />
         <div class="ui form length_form">
          <div class="three fields">
           <div class="field">
              <label>League</label>
              <input class='length_input' id='league_british' type="number" placeholder="League">
           </div>
           <div class="field">
              <label>Mile (mi)</label>
              <input class='length_input' id='mile_british' type="number" placeholder="Mile (mi)">
           </div>
           <div class="field">
              <label>Land</label>
              <input class='length_input' id='land_british' type="number" placeholder="Land">
           </div>
          </div>
           <div class="three fields">
             <div class="field">
              <label>Foot (ft)</label>
              <input class='length_input' id='foot_british' type="number" placeholder="Foot (ft)">
             </div>
             <div class="field">
              <label>Span (sp)</label>
              <input class='length_input' id='span_british' type="number" placeholder="Span (sp)">
             </div>
             <div class="field">
              <label>Nail</label>
              <input class='length_input' id='nail' type="number" placeholder="Nail">
             </div>
          </div>
         </div>
       </div>
       <div class="ui segment">
         <h2 class="orange"><strong>International Nautical Measure</strong></h2>
         <p class="inner_paragraph more">The international nautical mile was defined by the First International Extraordinary Hydrographic Conference, Monaco in 1929. This is the only definition in widespread current use, and is the one accepted by the International Bureau of Weights and Measures. Before 1929 different countries had different definitions, and the Soviet Union, the United Kingdom and the United States did not immediately accept the international value.</p>
         <hr />
         <div class="ui form length_form">
          <div class="two fields">
           <div class="field">
              <label>Nautical League (naut.leag)</label>
              <input class='length_input' id='nautical_league' type="number" placeholder="Nautical League (naut.leag)">
           </div>
           <div class="field">
              <label>Nautical Mile (naut.mi)</label>
              <input class='length_input' id='nautical_mile' type="number" placeholder="Nautical Mile (naut.mi)">
           </div>
          </div>
           <div class="two fields">
             <div class="field">
              <label>Cable Length (cbl)</label>
              <input class='length_input' id='cable_length' type="number" placeholder="Cable Length (cbl)">
             </div>
             <div class="field">
              <label>Fathom (fath)</label>
              <input class='length_input' id='fathom' type="number" placeholder="Fathom (fath)">
             </div>
          </div>
         </div>
       </div>
       <div class="ui segment">
         <h2 class="orange"><strong>US Nautical Measure</strong></h2>
         <p class="inner_paragraph">These measures were abandoned in favor of the international nautical measures in 1954.</p>
         <hr />
         <div class="ui form length_form">
          <div class="three fields">
           <div class="field">
              <label>US Nautical Mile</label>
              <input class='length_input' id='us_nautical_mile' type="number" placeholder="US Nautical Mile">
           </div>
           <div class="field">
              <label>US Fathom (fath)</label>
              <input class='length_input' id='us_fathom' type="number" placeholder="US Fathom (fath)">
           </div>
           <div class="field">
              <label>US cable length</label>
              <input class='length_input' id='us_cable_length' type="number" placeholder="US Cable Length">
           </div>
          </div>
         </div>
       </div>
       <div class="ui segment">
         <h2 class="orange"><strong>British (Imperial) Nautical Measure</strong></h2>
         <p class="inner_paragraph">These measures were abandoned in favor of the international nautical measures in 1970.</p>
         <hr />
         <div class="ui form length_form">
          <div class="two fields">
           <div class="field">
              <label>Admiralty Mile</label>
              <input class='length_input' id='admiralty_mile' type="number" placeholder="Admiralty Mile">
           </div>
           <div class="field">
              <label>Admiralty Cable Length</label>
              <input class='length_input' id='admiralty_cable_length' type="number" placeholder="Admiralty Cable Length">
           </div>
          </div>
         </div>
       </div>
     </div>