     <!-- temperature converter part -->
     
     <h1 id='temp_header' class="ui header orange">Temperature Converter</h1>
     <p class='more'>Temperature is the measurement of a physical quantity of intensity of hotness or coldness present in an object or a substance measured on a definite scale.
     <br />
     <strong>Conversion Centre</strong> provides you also with temperature conversion. By a simple click on the subcategory Temperature, you will find the different degrees known all over the globe. Temperature scale conversion in Celsius (C), Kelvin (K), degrees Fahrenheit (°F), degrees Reaumur (°Re), Planck temperature; by entering a value in the relating case (as source), the results will appear inside all the cases, so you can pick up the value you are looking for. On the left part, go under Temperature, here you can see two other subcategories, one is Temperature conversion, the other one is Historical temperature scales. You can have a look; for sure you will find the answer for your research.</p>
     <a id="temp_btn" class="ui large button">Try it now</a>
     
     <div id="temp_modal" class="ui basic modal">
      <div class="ui segments">
        <div class="ui segment">
          <h2 class="orange"><strong>Temperature scale conversion</strong></h2>
          <p class="inner_paragraph">Please be aware there is the absolute zero - the coldest temperature possible in the Universe. It is zero kelvin (-459.67°F, -273.15°C).</p>
          <hr />
          <div class="ui form temp_form">
           <div class="three fields">
            <div class="field">
               <label>Degrees Celsius (°C)</label>
               <input class='temp_input temp_conv' id='Cel' type="number" placeholder="Degrees Celsius (°C)">
            </div>
            <div class="field">
               <label>Degrees Fahrenheit (°F)</label>
               <input class='temp_input temp_conv' id='Fhr' type="number" placeholder="Degrees Fahrenheit (°F)">
            </div>
            <div class="field">
               <label>Planck Temperature</label>
               <input class='temp_input temp_conv' id='planck' type="number" placeholder="Planck Temperature">
            </div>
           </div>
            <div class="two fields">
            <div class="field">
               <label>Kelvin (K)</label>
               <input class='temp_input temp_conv' id='kelvin' type="number" placeholder="Kelvin (K)">
            </div>
            <div class="field">
               <label>Degrees Reaumur (°Re)</label>
               <input class='temp_input temp_conv' id='reaumur' type="number" placeholder="Degrees Reaumur (°Re)">
            </div>
           </div>
          </div> 
        </div>
        <div class="ui segment">
          <h2 class="orange"><strong>Historical temperature scales</strong></h2>
          <p class="inner_paragraph">These temperature scales are not widely used now.</p>
          <hr />
          <div class="ui form temp_form">
           <div class="two fields">
            <div class="field">
               <label>Degrees Rankine (°R)</label>
               <input class='temp_input temp_his' id='rankine' type="number" placeholder="Degrees Rankine (°R)">
            </div>
            <div class="field">
               <label>Degrees Newton (°N)</label>
               <input class='temp_input temp_his' id='nton' type="number" placeholder="Degrees Newton (°N)">
            </div>
           </div>
            <div class="two fields">
            <div class="field">
               <label>Degrees Rømer (°RØ)</label>
               <input class='temp_input temp_his' id='romer' type="number" placeholder="Degrees Rømer (°RØ)">
            </div>
            <div class="field">
               <label>Degrees Delisle (°D)</label>
               <input class='temp_input temp_his' id='delisle' type="number" placeholder="Degrees Delisle (°D)">
            </div>
           </div>
          </div> 
        </div>
      </div>      
     </div>