     <!-- capaciy converter part -->
     
     <h1 id='audio_video_header' class="ui header orange">Video & Audio Converter</h1>
     <p class='more'><strong>Video & Audio Converter</strong> lets you convert media easy and fast from one format to another. We support a lot of different source formats, just try...</p>
     <a id='audio_video_btn' class="ui large button">Try it now</a>
     
    <div id='audio_video_segment' class='accordion_segment hide'> 
    <div class="ui styled accordion">
      <div class="title orange">
       <i class="dropdown icon"></i>
         Youtube Video Converter
       </div>
       <div class="content">
        <% include audio_video_converters/youtube%>
       </div>
       
       <div class="title orange">
          <i class="dropdown icon"></i>
         Audio & Video Converter
       </div>
       <div class="content">
        <% include audio_video_converters/audio_video_conv%>
       </div>
      </div>
     </div>
