     <!-- weight converter part -->
     
     <h1 id='weight_header' class="ui header orange">Weight & Mass Converter</h1>
     <p class='more'>The weight of an object is the measurement of the force acting on the object by gravity, or the force needed to support it. Whereas, the mass is the measurement of the matter contained in the object. The measurement unit to measure weight and mass varies in this world. But with Conversion centre, you can get accurate and instant results following international standards. When entering this subcategory you will be able to see different units, for example as known units, we list tone (t), kilogram (kg), gram (g) and so on. You can choose to enter your value in the relating case, the converter will automatically and instantly provide displays with the results for all the units inside this page. On the left side part, you can also choose other details relating to Weight and Mass, to select the unit you are looking for under Metric, Avoirdupois (U.S. / British), Troy, Apothecaries, Thai units, Hong Kong. These units are mostly known for some specific countries (as you can see their names).</p>
     
     <a id='weight_btn' class="ui large button">Try it now</a>
     
     <div id='weight_segment' class="ui raised segments hide">
      <div class="ui segment">
       <div id='weight_menu' class="ui secondary  menu">
        <a id='weight_metric' class="active item">
         <strong>Metric</strong>
        </a>
        <a id='weight_avoir' class="item">
         <strong>Avoirdupois(U.S. / British)</strong>
        </a>
        <a id='weight_troy' class="item">
         <strong>Troy</strong>
        </a>
        <a id='weight_apoth' class="item">
         <strong>Apothecaries</strong>
        </a>
        <a id='weight_thai' class="item">
         <strong>Thai units</strong>
        </a>
        <a id='weight_hongkong' class="item">
         <strong>Hong Kong</strong>
        </a>
       </div>     
      </div>
       <div class="ui segment">
        <div id='metric_form' class='weight_form' >   
         <div class="ui form">
          <div class="three fields">
           <div class="field">
              <label>kilotonne</label>
              <input class='weight_input metric kilotonne'  type="number" placeholder="kilotonne">
           </div>
           <div class="field">
              <label>Tonne</label>
              <input class='weight_input metric tonne'  type="number" placeholder="Tonne">
           </div>
           <div class="field">
              <label>Kilonewton (kN)</label>
              <input class='weight_input metric kilonewton'  type="number" placeholder="Kilonewton (kN)">
           </div>
          </div>
           <div class="three fields">
           <div class="field">
              <label>Centner</label>
              <input class='weight_input metric centner'  type="number" placeholder="Centner">
           </div>
           <div class="field">
              <label>Kilogram (kg)</label>
              <input class='weight_input metric kilogram'  type="number" placeholder="Kilogram (kg)">
           </div>
           <div class="field">
              <label>Newton (N)</label>
              <input class='weight_input metric newton' type="number" placeholder="Newton (N)">
           </div>
          </div>
           <div class="three fields">
           <div class="field">
              <label>Carat (ct)</label>
              <input class='weight_input metric carat' type="number" placeholder="Carat (ct)">
           </div>
           <div class="field">
              <label>Gram (g)</label>
              <input class='weight_input metric gram' type="number" placeholder="Gram (g)">
           </div>
           <div class="field">
              <label>Centigram</label>
              <input class='weight_input metric centigram' type="number" placeholder="Centigram">
           </div>
          </div>
           <div class="three fields">
           <div class="field">
              <label>Milligram (mg)</label>
              <input class='weight_input metric milligram' type="number" placeholder="Milligram (mg)">
           </div>
           <div class="field">
              <label>Microgram (mcg)</label>
              <input class='weight_input metric microgram' type="number" placeholder="Microgram (mcg)">
           </div>
           <div class="field">
              <label>Atomic mass unit (amu)</label>
              <input class='weight_input metric atomic' type="number" placeholder="Atomic mass unit (amu)">
           </div>
          </div>
         </div>
        </div>
        <div id='avoir_form' class='hide weight_form' >
          <div class="ui form">
          <div class="three fields">
           <div class="field">
              <label>Long ton (UK)</label>
              <input class='weight_input avoir longton' type="number" placeholder="Long ton (UK)">
           </div>
           <div class="field">
              <label>Short ton (US)</label>
              <input class='weight_input avoir shortton' type="number" placeholder="Short ton (US)">
           </div>
           <div class="field">
              <label>Kilopound,kip (mass)</label>
              <input class='weight_input avoir kilopound' type="number" placeholder="Kilopound,kip (mass)">
           </div>
          </div>
           <div class="three fields">
           <div class="field">
              <label>Long hundred weight (UK)</label>
              <input class='weight_input avoir longhundred' type="number" placeholder="Long hundred weight">
           </div>
           <div class="field">
              <label>Short hundred weight (US)</label>
              <input class='weight_input avoir shorthundred' type="number" placeholder="Short hundred weight">
           </div>
           <div class="field">
              <label>Stone (st)</label>
              <input class='weight_input avoir stone' type="number" placeholder="Stone (st)">
           </div>
          </div>
           <div class="three fields">
           <div class="field">
              <label>Grain (gr)</label>
              <input class='weight_input avoir grain_avoir' type="number" placeholder="Grain (gr)">
           </div>
           <div class="field">
              <label>Pound (lb)</label>
              <input class='weight_input avoir pound_avoir' type="number" placeholder="Pound (lb)">
           </div>
           <div class="field">
              <label>Ounce (oz)</label>
              <input class='weight_input avoir ounce_avoir' type="number" placeholder="Ounce (oz)">
           </div>
          </div>
         </div>    
        </div>
         <div id='troy_form' class='hide weight_form' >
          <div class="ui form">
          <div class="three fields">
           <div class="field">
              <label>Pound</label>
              <input class='weight_input troy pound_troy' type="number" placeholder="Pound">
           </div>
           <div class="field">
              <label>Ounce (ozt)</label>
              <input class='weight_input troy ounce_troy' type="number" placeholder="Ounce (ozt)">
           </div>
           <div class="field">
              <label>Pennyweight (dwt)</label>
              <input class='weight_input troy pennyweight' type="number" placeholder="Pennyweight (dwt)">
           </div>
          </div>
           <div class="two fields">
           <div class="field">
              <label>Carat</label>
              <input class='weight_input troy carat_troy' type="number" placeholder="Carat">
           </div>
           <div class="field">
              <label>Grain</label>
              <input class='weight_input troy grain_troy' type="number" placeholder="Grain">
           </div>
          </div>
         </div>    
        </div>
        <div id='apoth_form' class='hide weight_form' >
          <div class="ui form">
          <div class="three fields">
           <div class="field">
              <label>Pound</label>
              <input class='weight_input apoth pound_apoth' type="number" placeholder="Pound">
           </div>
           <div class="field">
              <label>Ounce</label>
              <input class='weight_input apoth ounce_apoth' type="number" placeholder="Ounce">
           </div>
           <div class="field">
              <label>Grain</label>
              <input class='weight_input apoth grain_apoth' type="number" placeholder="Grain">
           </div>
          </div>
           <div class="two fields">
           <div class="field">
              <label>Dram</label>
              <input class='weight_input apoth dram_apoth' type="number" placeholder="Dram">
           </div>
           <div class="field">
              <label>Scruple</label>
              <input class='weight_input apoth scruple_apoth' type="number" placeholder="Scruple">
           </div>
          </div>
         </div>    
        </div>
        <div id='thai_form' class='hide weight_form' >
          <div class="ui form">
          <div class="three fields">
           <div class="field">
              <label>Hap</label>
              <input class='weight_input thai hap' type="number" placeholder="Hap">
           </div>
           <div class="field">
              <label>Chang</label>
              <input class='weight_input thai chang' type="number" placeholder="Chang">
           </div>
           <div class="field">
              <label>Tamlueng</label>
              <input class='weight_input thai tamlueng' type="number" placeholder="Tamlueng">
           </div>
          </div>
          <div class="three fields">
           <div class="field">
              <label>Baht</label>
              <input class='weight_input thai baht' type="number" placeholder="Baht">
           </div>
           <div class="field">
              <label>Salueng</label>
              <input class='weight_input thai salueng_thai' type="number" placeholder="Salueng">
           </div>
           <div class="field">
              <label>Fueang</label>
              <input class='weight_input thai fueang' type="number" placeholder="Fueang">
           </div>
          </div>
          <div class="two fields">
           <div class="field">
              <label>Seek</label>
              <input class='weight_input thai seek' type="number" placeholder="Seek">
           </div>
           <div class="field">
              <label>Siao/pai</label>
              <input class='weight_input thai siao' type="number" placeholder="Siao/pai">
           </div>
          </div>
         </div>    
        </div>
        <div id='hongkong_form' class='hide weight_form' >
          <div class="ui form">
          <div class="three fields">
           <div class="field">
              <label>Picul (tam)</label>
              <input class='weight_input hongkong tam' type="number" placeholder="Picul (tam)">
           </div>
           <div class="field">
              <label>Catty (kan)</label>
              <input class='weight_input hongkong catty' type="number" placeholder="Catty (kan)">
           </div>
           <div class="field">
              <label>Tael (leung)</label>
              <input class='weight_input hongkong leung' type="number" placeholder="Tael (leung)">
           </div>
          </div>
          <div class="three fields">
           <div class="field">
              <label>Mace (tsin)</label>
              <input class='weight_input hongkong tsin' type="number" placeholder="Mace (tsin)">
           </div>
           <div class="field">
              <label>Candareen (fan)</label>
              <input class='weight_input hongkong fan' type="number" placeholder="Candareen (fan)">
           </div>
           <div class="field">
              <label>Tael troy</label>
              <input class='weight_input hongkong tael_troy' type="number" placeholder="Tael troy">
           </div>
          </div>
          <div class="two fields">
           <div class="field">
              <label>Mace troy</label>
              <input class='weight_input hongkong troy' type="number" placeholder="Mace troy">
           </div>
           <div class="field">
              <label>Candareen troy</label>
              <input class='weight_input hongkong candareen' type="number" placeholder="Candareen troy">
           </div>
          </div>
         </div>    
        </div>
       </div>
     </div>
     <% include slim_weight%>