<div class="ui raised segment">
  <p class='inner_paragraph more'><strong>Youtube</strong> is the most popular video hosting and the third most popular website in the world at all because of its convenience. But its functionality is limited whenever you try to download videos YouTube for free. And only small amount of videos can be saved using common methods.
                                  <br/>
                                  <strong>Youtube Downloader</strong> offers you the fastest way to save video from YouTube with the best quality. Download one video and see for yourself that it’s the most convenient YouTube video downloader you’ve ever tried</p>
  <hr/>
  <div class="ui form">
  <div class="fields">
    <div class="twelve wide field">
      <input id="yt_link_input1" type="text" placeholder="Enter Valid Youtube URL Here" required>
    </div>
    <div class="four wide field">
      <button id="vd_download_btn" class="fluid ui button">Download Video</button>
    </div>
  </div>
 </div>
  <div class="ui form">
  <div class="fields">
    <div class="twelve wide field">
      <input id="yt_link_input2" type="text" placeholder="Enter Valid Youtube URL Here" required>
    </div>
    <div class="four wide field">
      <button id="ad_download_btn" class="fluid ui button">Download Audio</button>
    </div>
  </div>
 </div>
 <div id='yt_downloader' class='hide'></div>
</div>