

      <div class="ui raised segment">
        <div id='capacity_astro_form' class='capacity_form' >   
         <div class="ui form">
             
          <div class="two fields">
           <div class="field">
              <label>Cubic Parsec (pc³)</label>
              <input class='capacity_input capacity_astro' id='parsec' type="number" placeholder="Cubic Parsec (pc³)">
           </div>
           <div class="field">
              <label>Cubic Light Year</label>
              <input class='capacity_input capacity_astro' id='year' type="number" placeholder="Cubic Light Year">
           </div>
          </div>
          
           <div class="two fields">
           <div class="field">
              <label>Cubic Light Minute</label>
              <input class='capacity_input capacity_astro' id='minute' type="number" placeholder="Cubic Light Minute">
           </div>
           <div class="field">
              <label>Cubic Light Second</label>
              <input class='capacity_input capacity_astro' id='second' type="number" placeholder="Cubic Light Second">
           </div>
          </div>
         
         </div>
        </div>
      </div>