

<div class="ui raised segment">
          <div id='capacity_british_form' class='capacity_form' >   
         <div class="ui form">
             
          <div class="three fields">
           <div class="field">
              <label>Cubic Mile (mi³)</label>
              <input class='capacity_input capacity_british' id='cm' type="number" placeholder="Cubic Mile (mi³)">
           </div>
           <div class="field">
              <label>Mil Cubic Feet (mcf)</label>
              <input class='capacity_input capacity_british' id='mcf' type="number" placeholder="Mil Cubic Feet (mcf)">
           </div>
           <div class="field">
              <label>Cubic Yard (yd³)</label>
              <input class='capacity_input capacity_british' id='cy' type="number" placeholder="Cubic Yard (yd³)">
           </div>
          </div>
          
           <div class="three fields">
           <div class="field">
              <label>Centum Cubic Feet (ccf)</label>
              <input class='capacity_input capacity_british' id='ccf' type="number" placeholder="Centum Cubic Feet (ccf)">
           </div>
           <div class="field">
              <label>Cubic Foot (ft³)</label>
              <input class='capacity_input capacity_british' id='cf' type="number" placeholder="Cubic Foot (ft³)">
           </div>
           <div class="field">
              <label>Cubic Inch (in³)</label>
              <input class='capacity_input capacity_british' id='ci' type="number" placeholder="Cubic Inch (in³)">
           </div>
          </div>
         
         </div>
        </div>
      </div>