

<div class="ui raised segment">
          <div id='capacity_chinese_30_form' class='capacity_form' >   
         <div class="ui form">
             
          <div class="three fields">
           <div class="field">
              <label>Dan</label>
              <input class='capacity_input capacity_chinese_30' id='dan_30' type="number" placeholder="Dan">
           </div>
           <div class="field">
              <label>Dou</label>
              <input class='capacity_input capacity_chinese_30' id='dou_30' type="number" placeholder="Dou">
           </div>
           <div class="field">
              <label>Sheng</label>
              <input class='capacity_input capacity_chinese_30' id='sheng_30' type="number" placeholder="Sheng">
           </div>
          </div>
          
           <div class="three fields">
           <div class="field">
              <label>Ge</label>
              <input class='capacity_input capacity_chinese_30' id='ge_30' type="number" placeholder="Ge">
           </div>
           <div class="field">
              <label>Shao</label>
              <input class='capacity_input capacity_chinese_30' id='shao_30' type="number" placeholder="Shao">
           </div>
           <div class="field">
              <label>Cuo</label>
              <input class='capacity_input capacity_chinese_30' id='cuo_30' type="number" placeholder="Cuo">
           </div>
          </div>
         
         </div>
        </div>
      </div>