

<div class="ui raised segment">
          <div id='capacity_chinese_15_form' class='capacity_form' >   
         <div class="ui form">
             
          <div class="three fields">
           <div class="field">
              <label>Dan</label>
              <input class='capacity_input capacity_chinese_15' id='dan_15' type="number" placeholder="Dan">
           </div>
           <div class="field">
              <label>Hu</label>
              <input class='capacity_input capacity_chinese_15' id='hu_15' type="number" placeholder="Hu">
           </div>
           <div class="field">
              <label>Dou</label>
              <input class='capacity_input capacity_chinese_15' id='dou_15' type="number" placeholder="Dou">
           </div>
          </div>
          
           <div class="three fields">
           <div class="field">
              <label>Sheng</label>
              <input class='capacity_input capacity_chinese_15' id='sheng_15' type="number" placeholder="Sheng">
           </div>
           <div class="field">
              <label>Ge</label>
              <input class='capacity_input capacity_chinese_15' id='ge_15' type="number" placeholder="Ge">
           </div>
           <div class="field">
              <label>Shao</label>
              <input class='capacity_input capacity_chinese_15' id='shao_15' type="number" placeholder="Shao">
           </div>
          </div>
         
         </div>
        </div>
      </div>