

<div class="ui raised segment">
          <div id='capacity_cooking_aus_form' class='capacity_form' >   
         <div class="ui form">
             
          <div class="three fields">
           <div class="field">
              <label>Tablespoon</label>
              <input class='capacity_input capacity_cooking_aus' id='tablespoon_aus' type="number" placeholder="Tablespoon">
           </div>
           <div class="field">
              <label>Teaspoon</label>
              <input class='capacity_input capacity_cooking_aus' id='teaspoon_aus' type="number" placeholder="Teaspoon">
           </div>
           <div class="field">
              <label>Dessert Teaspoon</label>
              <input class='capacity_input capacity_cooking_aus' id='dessert_teaspoon' type="number" placeholder="Dessert Teaspoon">
           </div>
          </div>
         
         </div>
        </div>
      </div>