

<div class="ui raised segment">
          <div id='capacity_cooking_int_form' class='capacity_form' >   
         <div class="ui form">
             
          <div class="three fields">
           <div class="field">
              <label>Cup</label>
              <input class='capacity_input capacity_cooking_int' id='cup_int' type="number" placeholder="Cup">
           </div>
           <div class="field">
              <label>Teaspoon</label>
              <input class='capacity_input capacity_cooking_int' id='teaspoon_int' type="number" placeholder="Teaspoon">
           </div>
           <div class="field">
              <label>Tablespoon</label>
              <input class='capacity_input capacity_cooking_int' id='tablespoon_int' type="number" placeholder="Tablespoon">
           </div>
          </div>
         
         </div>
        </div>
      </div>