

<div class="ui raised segment">
          <div id='capacity_dry_form' class='capacity_form' >   
         <div class="ui form">
             
          <div class="three fields">
           <div class="field">
              <label>Barrel</label>
              <input class='capacity_input capacity_dry' id='barrel' type="number" placeholder="Barrel">
           </div>
           <div class="field">
              <label>Bushel (bu)</label>
              <input class='capacity_input capacity_dry' id='bushel' type="number" placeholder="Bushel (bu)">
           </div>
           <div class="field">
              <label>Peck (pk)</label>
              <input class='capacity_input capacity_dry' id='peck' type="number" placeholder="Peck (pk)">
           </div>
          </div>
          
           <div class="three fields">
           <div class="field">
              <label>Gallon (gal)</label>
              <input class='capacity_input capacity_dry' id='gallon' type="number" placeholder="Gallon (gal)">
           </div>
           <div class="field">
              <label>Quart (qt)</label>
              <input class='capacity_input capacity_dry' id='quart_dry' type="number" placeholder="Quart (qt)">
           </div>
           <div class="field">
              <label>Pint (pt)</label>
              <input class='capacity_input capacity_dry' id='pint_pt' type="number" placeholder="Pint (pt)">
           </div>
          </div>
         
         </div>
        </div>
      </div>