

<div class="ui raised segment">
          <div id='capacity_japanese_form' class='capacity_form' >   
         <div class="ui form">
             
          <div class="three fields">
           <div class="field">
              <label>Sai</label>
              <input class='capacity_input capacity_japanese' id='sai' type="number" placeholder="Sai">
           </div>
           <div class="field">
              <label>Shaku</label>
              <input class='capacity_input capacity_japanese' id='shaku' type="number" placeholder="Shaku">
           </div>
           <div class="field">
              <label>Go</label>
              <input class='capacity_input capacity_japanese' id='go' type="number" placeholder="Go">
           </div>
          </div>
          
           <div class="three fields">
           <div class="field">
              <label>Sho</label>
              <input class='capacity_input capacity_japanese' id='sho' type="number" placeholder="Sho">
           </div>
           <div class="field">
              <label>To</label>
              <input class='capacity_input capacity_japanese' id='to' type="number" placeholder="To">
           </div>
           <div class="field">
              <label>Koku</label>
              <input class='capacity_input capacity_japanese' id='koku' type="number" placeholder="Koku">
           </div>
          </div>
         
         </div>
        </div>
      </div>