

<div class="ui raised segment">
          <div id='capacity_liquid_form' class='capacity_form' >   
         <div class="ui form">
             
          <div class="three fields">
           <div class="field">
              <label>Acre Foot</label>
              <input class='capacity_input capacity_liquid' id='foot' type="number" placeholder="Acre Foot">
           </div>
           <div class="field">
              <label>Barrel (Petroleum)</label>
              <input class='capacity_input capacity_liquid' id='pet_barrel' type="number" placeholder="Barrel (Petroleum)">
           </div>
           <div class="field">
              <label>Barrel (Beer)</label>
              <input class='capacity_input capacity_liquid' id='beer_barrel' type="number" placeholder="Barrel (Beer)">
           </div>
          </div>
          
           <div class="three fields">
           <div class="field">
              <label>Gallon (gal)</label>
              <input class='capacity_input capacity_liquid' id='gal' type="number" placeholder="Gallon (gal)">
           </div>
           <div class="field">
              <label>Quart (qt)</label>
              <input class='capacity_input capacity_liquid' id='quart' type="number" placeholder="Quart (qt)">
           </div>
           <div class="field">
              <label>Pint (pt)</label>
              <input class='capacity_input capacity_liquid' id='pint' type="number" placeholder="Pint (pt)">
           </div>
          </div>
          
           <div class="two fields">
           <div class="field">
              <label>Gill</label>
              <input class='capacity_input capacity_liquid' id='gill' type="number" placeholder="Gill">
           </div>
           <div class="field">
              <label>Fluid Ounce (oz)</label>
              <input class='capacity_input capacity_liquid' id='oz' type="number" placeholder="Fluid Ounce (oz)">
           </div>
          </div>
          
           <div class="two fields">
           <div class="field">
              <label>Fluid Dram</label>
              <input class='capacity_input capacity_liquid' id='dram' type="number" placeholder="Fluid Dram">
           </div>
           <div class="field">
              <label>Minim</label>
              <input class='capacity_input capacity_liquid' id='minim' type="number" placeholder="Minim">
           </div>
          </div>
         </div>
        </div>
      </div>