

<div class="ui raised segment">
          <div id='capacity_metric_form' class='capacity_form' >   
         <div class="ui form">
          <div class="three fields">
           <div class="field">
              <label>Cubic Kilometer (km³)</label>
              <input class='capacity_input capacity_metric' id='c_km' type="number" placeholder="Cubic Kilometer (km³)">
           </div>
           <div class="field">
              <label>Cubic Meter (m³)</label>
              <input class='capacity_input capacity_metric' id='c_m' type="number" placeholder="Cubic Meter (m³)">
           </div>
           <div class="field">
              <label>Cubic Decimeter (dm³)</label>
              <input class='capacity_input capacity_metric' id='c_dm' type="number" placeholder="Cubic Decimeter (dm³)">
           </div>
          </div>
           <div class="three fields">
           <div class="field">
              <label>Cubic Centimeter (cc)</label>
              <input class='capacity_input capacity_metric' id='c_cm' type="number" placeholder="Cubic Centimeter (cc)">
           </div>
           <div class="field">
              <label>Cubic Millimeter(mm³)</label>
              <input class='capacity_input capacity_metric' id='c_mm' type="number" placeholder="Cubic Millimeter (mm³)">
           </div>
           <div class="field">
              <label>Hectoliter (hl)</label>
              <input class='capacity_input capacity_metric' id='hl' type="number" placeholder="Hectoliter (hl)">
           </div>
          </div>
           <div class="three fields">
           <div class="field">
              <label>Decaliter</label>
              <input class='capacity_input capacity_metric' id='dl' type="number" placeholder="Decaliter">
           </div>
           <div class="field">
              <label>Liter (l)</label>
              <input class='capacity_input capacity_metric' id='l' type="number" placeholder="Liter (l)">
           </div>
           <div class="field">
              <label>Deciliter (dl)</label>
              <input class='capacity_input capacity_metric' id='deci_l' type="number" placeholder="Deciliter (dl)">
           </div>
          </div>
           <div class="three fields">
           <div class="field">
              <label>Centiliter (cl)</label>
              <input class='capacity_input capacity_metric' id='cl' type="number" placeholder="Centiliter (cl)">
           </div>
           <div class="field">
              <label>Milliliter (ml)</label>
              <input class='capacity_input capacity_metric' id='m_lit' type="number" placeholder="Milliliter (ml)">
           </div>
           <div class="field">
              <label>Microliter (µl)</label>
              <input class='capacity_input capacity_metric' id='mic_lit' type="number" placeholder="Microliter (µl)">
           </div>
          </div>
         </div>
        </div>
      </div>