

<div class="ui raised segment">
          <div id='capacity_ship_tonnage_form' class='capacity_form' >
              <p class='inner_paragraph more'>Register ton unit was defined by the Moorsom Commission (Great Britain) in 1854 to measure ship internal volume. It was officially replaced by tonnage when the International Maritime Organization (IMO) adopted The International Convention on Tonnage Measurement of Ships on 23 June 1969. Since 18 July 1994 the gross and net tonnages are the only official measures used for the ships.</p>   
         <div class="ui form">
             
          <div class="three fields">
           <div class="field">
              <label>tonnage</label>
              <input class='capacity_input capacity_ship_tonnage' id='tonnage' type="number" placeholder="Tablespoon">
           </div>
           <div class="field">
              <label>Panama Canal Universal</label>
              <input class='capacity_input capacity_ship_tonnage' id='Panama_Canal' type="number" placeholder="(PC/UMS)">
           </div>
           <div class="field">
              <label>Register Ton</label>
              <input class='capacity_input capacity_ship_tonnage' id='register_ton' type="number" placeholder="Register Ton">
           </div>
          </div>
         
         </div>
        </div>
      </div>