

<div class="ui raised segment">
          <div id='capacity_thai_form' class='capacity_form' >  
           <p class='inner_paragraph more'>Some of these units are still in use even though metric system was formally established in 1923. Before the metrication the old units were standardized to exact metric values.</p>
         <div class="ui form">
          <div class="three fields">
           <div class="field">
              <label>Kwian (cartload)</label>
              <input class='capacity_input capacity_thai' id='kwian' type="number" placeholder="Kwian">
           </div>
           <div class="field">
              <label>Sat (basket)</label>
              <input class='capacity_input capacity_thai' id='sat' type="number" placeholder="Sat (basket)">
           </div>
           <div class="field">
              <label>Thang (tank)</label>
              <input class='capacity_input capacity_thai' id='thang' type="number" placeholder="Thang (tank)">
           </div>
          </div>
           <div class="three fields">
           <div class="field">
              <label>Yip Mue (pinch)</label>
              <input class='capacity_input capacity_thai' id='yip' type="number" placeholder="Yip Mue (pinch)">
           </div>
           <div class="field">
              <label>Thanan (coconut shell)</label>
              <input class='capacity_input capacity_thai' id='thanan' type="number" placeholder="Thanan (coconut shell)">
           </div>
           <div class="field">
              <label>Fai Mue (palm of grain)</label>
              <input class='capacity_input capacity_thai' id='fai' type="number" placeholder="Fai Mue (palm of grain)">
           </div>
          </div>
           <div class="one field">
           <div class="field">
              <label>Kam Mue (hand of grain)</label>
              <input class='capacity_input capacity_thai' id='kam' type="number" placeholder="Kam Mue (hand of grain)">
           </div>
          </div>
         </div>
        </div>
      </div>