

<div class="ui raised segment">
          <div id='capacity_wine_form' class='capacity_form' >   
         <div class="ui form">
          <div class="three fields">
           <div class="field">
              <label>Tun</label>
              <input class='capacity_input capacity_wine' id='tun' type="number" placeholder="Tun">
           </div>
           <div class="field">
              <label>Butt</label>
              <input class='capacity_input capacity_wine' id='butt' type="number" placeholder="Butt">
           </div>
           <div class="field">
              <label>Puncheon</label>
              <input class='capacity_input capacity_wine' id='puncheon' type="number" placeholder="Puncheon">
           </div>
          </div>
           <div class="three fields">
           <div class="field">
              <label>Rundlet</label>
              <input class='capacity_input capacity_wine' id='rundlet' type="number" placeholder="Rundlet">
           </div>
           <div class="field">
              <label>Hogshead</label>
              <input class='capacity_input capacity_wine' id='hogshead' type="number" placeholder="Hogshead">
           </div>
           <div class="field">
              <label>Tierce</label>
              <input class='capacity_input capacity_wine' id='tierce' type="number" placeholder="Tierce">
           </div>
          </div>
           <div class="one field">
           <div class="field">
              <label>Barrel</label>
              <input class='capacity_input capacity_wine' id='wine_barrel' type="number" placeholder="Barrel">
           </div>
          </div>
         </div>
        </div>
      </div>